INPUT_TYPE=file
INPUT_FORMAT=sarif
JIRA_CLOUD_URL=https://XXXX.atlassian.net/
JIRA_PROJECT_KEY=PROJ-XYZ
JIRA_AUTH_EMAIL=test@example.com
JIRA_API_TOKEN=<INSERT-YOUR-JIRA-CLOUD-API-TOKEN>
JIRA_DEFAULT_ISSUE_LABELS=Label1,Label2
JIRA_USE_ATLASSIAN_DOCUMENT_FORMAT=false
JIRA_CREATE_SUB_TASKS=false